---

layout: default
published: true
title: {{ page.name }}

---

{% assign paper = page%}

<article class="{{ paper.type | default: 'publication' }}">
    {{ paper.authors | array_to_sentence_string }}
    <br>
    <strong><cite>{{ paper.ptitle }}</cite></strong>
    <br>
    Published in <cite>{{ paper.published_in.long_name }}</cite> ({{ paper.published_in.short_name }}) on <time datetime="{{ paper.published_in.date | date: '%Y-%m-%d' }}">{{ paper.published_in.date | date: '%B %d, %Y' }}</time>.
    <br>
    <div class="publication-links">
    {% for link in paper.links %}
        {%- assign link_name = link[0] -%}
        {%- assign link_target = link[1] -%}
            [<a href="{{ link_target }}" >{{ link_name }}</a>]
    {% else %}
        [ to be anounced ]
    {% endfor %}
    </div>
    <h2>Abstract</h2>
    <p class="abstract">
    {{ paper.abstract }}
    </p>
    <br>
</article>

